.live-background {
  height: 190%;
  width: 100%;
  background-color: black;
  z-index: -5;
  top: 0;
  position: absolute;
}

.live-row{
    margin-top: 8%;
    justify-content: center;
    display:flex;
    flex-wrap: wrap;
    padding: 0 4px;
}
@media screen and (max-width: 600px) {
  .live-row{
    margin-top: 25%;
  }
}


.live-col{
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.live-col img{
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    cursor: pointer;
} 

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}

.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 1200px;
}

.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}

.mySlides {
  display: none;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slides-img{
  width: auto;
  height: 80vh;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
@media screen and (max-width: 600px) {
  .slides-img{
    width: 80%;
    height: auto;
  }
}

.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}