html {
  height: 100%;
  width: 100%;
  font-family: AudioWide, sans-serif;
}
body {
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  min-height: 100%;
  /* max-height: min-content; */
  /* overflow: hidden; */
  font-family: AudioWide, sans-serif;
  position: absolute;
}

@font-face {
  font-family: "AudioWide";
  src: local("AudioWide"),
    url("./Audiowide-Regular.ttf") format("truetype");
}

.index-background {
  height: 100%;
  width: 100%;
  background-image: url("images/portada.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: -5;
  top: 0;
  position: absolute;
}

.index-contact {
  text-align: right;
  font-size: 1.5vw;
  color: white;
  bottom: 2%;
  right: 2%;
  position: fixed;
}
.index-contact a{
  text-decoration: none;
  text-transform: none;
  color: white;
}

.index-logo {
  position: fixed;
  top: 4%;
  left: 10%;
  height: 12%;
  width: auto;
}

.mainInner div {
  display: table-cell;
  vertical-align: middle;
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1.25px;
}
#sidebarMenu {
  height: 100%;
  position: absolute;
  left: 0;
  width: 100%;
  top: 0;
  text-align: center;
  transform: translateX(-100%);
  background: black;
  z-index: 1;
}

.sidebarMenuInner li {
  list-style: none;
  color: #fff;
  font-weight: bold;
  padding: 20px;
}
.sidebarMenuInner li span {
  color: rgba(255, 255, 255, 0.5);
}
.sidebarMenuInner li a {
  color: #fff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.5vw;
  align-items: center;
}

input[type="checkbox"]:checked ~ #sidebarMenu {
  transform: translateX(0);
}

input[type="checkbox"] {
  transition: all 0.3s;
  box-sizing: border-box;
  display: none;
}
.sidebarIconToggle {
  transition: all 0.3s;
  box-sizing: border-box;
  cursor: pointer;
  position: fixed;
  z-index: 99;
  margin-left: auto;
  margin-right: auto;
  height: 30px;
  width: 45px;
  left: 0;
  right: 0;
  top: 8%;
}
.spinner {
  transition: all 0.3s;
  box-sizing: border-box;
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: #fff;
}
.horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 9px;
}
.diagonal.part-1 {
  position: relative;
  transition: all 0.3s;
  box-sizing: border-box;
  float: left;
}
.diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  position: relative;
  float: left;
  margin-top: 9px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .horizontal {
  transition: all 0.3s;
  box-sizing: border-box;
  opacity: 0;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-1 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(135deg);
  margin-top: 15px;
}
input[type="checkbox"]:checked ~ .sidebarIconToggle > .diagonal.part-2 {
  transition: all 0.3s;
  box-sizing: border-box;
  transform: rotate(-135deg);
  margin-top: -15px;
}
