.stages-background{
    height: 100%;
    width: 100%;
    background-color: black;
    z-index: -5;
    top: 0;
    position: absolute;
}
.stages-central{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.stages-text{
    width: 40%;
    color: white;
    display: flex;
    height: 85%;
    font-size: 1vw;
    margin-left: 5%;
    text-align: justify;
    align-items: center;
    margin-top: 6%;
}
@media screen and (max-width: 600px) {
    .stages-text{
        font-size: 2.5vw;
    }
}

.stages-img{
    height: 100%;
    width: 49%;
}
@media screen and (max-width: 600px) {
    .stages-img{
        height: 65%;
        margin-right: 5px;
    }
}